@import 'App';

.intro-container {
    background-image: url("../assets/images/‏‏computer-nocoffee2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(233, 217, 121);
    width: 100%;
    position: relative;
    top: 2rem;
    z-index: -1;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(216, 216, 216);
    animation: make-visible 2s ease-in forwards;
    opacity: 0;

    @keyframes make-visible {
        100% { 
            opacity: 1;
        }
    }

    h6 {
        font-weight: 300;
        position: relative;
        top: 3.2rem;
    }

    .intro {
        margin-bottom: 11rem;
        text-align: center;
        // transform: rotate(13deg);
        width: 100%;
        padding: 9rem 0 15rem 10rem;

        h2 {
            font-family: 'Indie Flower', cursive;
            font-size: 6vw; //5rem
            text-shadow: 3px 3px $yellow;
        }

        h3 {
            font-size: 4vw; //3.3rem
        }

        h4 {
            font-size: 3.9vw; //3.3
            text-shadow: 3px 3px $yellow;
        }

        h5 {
            font-size: 2vw; //1.5rem
        }
    }
}

@media screen and (max-width: 330px) and (min-width: 250px) {
    .intro-container {
        
        .intro {
            h2 {font-size: 14vw;}
            h3 {font-size: 11.5vw;}
            h4 {font-size: 9.8vw;}
            h5 {font-size: 4vw;}
        }
    }
}

@media screen and (max-width: 399px) and (min-width: 331px) {
    .intro-container {
        .intro {
            
            
            h2 {font-size: 12vw;}
            h3 {font-size: 9.5vw;}
            h4 {font-size: 8.5vw;}
            h5 {font-size: 4vw;}
        }
    }
}

@media screen and (max-width: 450px) and (min-width: 400px) {
    .intro-container {
        .intro {
            h2 {font-size: 10vw;}
            h3 {font-size: 8vw;}
            h4 {font-size: 7.3vw;}
            h5 {font-size: 4vw;}
        }
    }
}

@media screen and (max-width: 499px) and (min-width: 451px) {
    .intro-container {
        .intro {
            h2 {font-size: 9.5vw;}
            h3 {font-size: 7vw;}
            h4 {font-size: 6.5vw;}
            h5 {font-size: 4vw;}
        }
    }
}

@media screen and (max-width: 580px) and (min-width: 500px) {
    .intro-container {
        .intro {
            h2 {font-size: 8.5vw;}
            h3 {font-size: 6vw;}
            h4 {font-size: 5.8vw;}
            h5 {font-size: 3vw;}
        }
    }
}

@media screen and (max-width: 681px) and (min-width: 581px) {
    .intro-container {
        .intro {
            h2 {font-size: 8vw;}
            h3 {font-size: 5.5vw;}
            h4 {font-size: 5.1vw;}
            h5 {font-size: 3vw;}
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 682px) {
    .intro-container {
        .intro {
            h2 {font-size: 7.5vw;}
            h3 {font-size: 5vw;}
            h4 {font-size: 4.7vw;}
            h5 {font-size: 3vw;}
        }
    }
}

@media screen and (max-width: 1024px) {
    .intro-container {
        .intro {
            width: 94%;
            h2 {text-shadow: 2px 2px $yellow;}
            h4 {text-shadow: 2px 2px $yellow;}
        }
    }
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
    .intro-container {
        .intro {
            width: 96%;
        }
    }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
    .intro-container {
        .intro {
            width: 97%;
        }
    }
}