@import 'App';

.intro-container {
    background-image: url("../assets/images/computer-5369326_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    top: 4.2rem;
    z-index: -1;

    .intro {
        margin: 8rem auto 11rem;
        text-align: center;
        transform: rotate(13deg);
        max-width: 96%;
        padding-left: 1.5rem;

        h2 {
            font-family: 'Indie Flower', cursive;
            font-size: 6vw; //5rem
        }

        h3 {
            font-size: 4vw; //3.3rem
        }

        h4 {
            font-size: 3.9vw; //3.3
        }

        h5 {
            font-size: 2vw; //1.5rem
        }
    }
}