@import 'App';

.navbar, .navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar {
    font-family: 'Indie Flower', cursive;
    background-color: black;
    width: 100%;
    padding: 1.3rem;
    color: white;
    font-size: 1.5rem;
    position: fixed;

    p {
        font-size: 5vw;
        padding: 0 5rem;
        position: absolute;
        left: 0;
    }

    .pages {
        margin-right: 4rem;
        font-weight: bold;
    }
    .pages>li {
        margin: 0 1rem;
    }

    .contact {
        margin-right: 8rem;
    }
    .contact>li {
        margin: 0 0.8rem;
    }

    .icon {
        font-size: 2rem;
    }
}