@import 'App';

.slide-in-nav {
    position: fixed;
    top: 0;
    z-index: 101;
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Indie Flower', cursive;

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hamburger {
            margin: 0.5rem;
            width: 8vw;
            height: 6vh;
            animation-duration: 0.5s;
            cursor: pointer;
        }

        p {
            font-size: 2.5rem;
            margin-right: 1rem;
            font-weight: bold;
            font-style: italic;
            cursor: pointer;
        }

        p:hover {
            color: $yellow;
        }
    }
    
    .slide-in {
        width: 30%;
    
        .ul-slide {
            position: absolute;
            transform: translateX(-100%);
            border-bottom-right-radius: 0.3rem;
            padding: 1rem 1rem 1.5rem;
            background-color: black;
            animation-duration: 0.5s;
            width: 50%;
        }
    
        .slide-in-anim {
            animation: slide-in 0.5s forwards;
        }
    
        .slide-out-anim {
            animation: slide-out 0.5s forwards;
        }
    
        @keyframes slide-in {
            100% { transform: translateX(0%); }
        }
    
        @keyframes slide-out {
            0% { transform: translateX(0%); }
            100% { transform: translateX(-100%); }
        }
    
        ul, ul a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
        }
    
        ul a {
            padding-bottom: 1rem;
            border-bottom: 1px solid white;
        }
    
        ul a:hover {
            border-bottom: 2px solid $yellow;
            color: $yellow;
        }
    
        li {
            margin-top: 2rem;
            font-size: 1rem;
            width: 100%;
        }

        li:nth-of-type(1) {
            margin-top: 0.8rem;
        }
    }
}
